@import "tailwindcss";

@layer utilities {
  @keyframes slide-up {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-popup {
    animation: slide-up 1000ms cubic-bezier(0.16, 1, 0.3, 1);
  }
}